{% extends "myapp/base.html" %}

{% block content %}
<div class="container mt-5 p-5 border">
    
        {%if messages %}
            {%for message in messages%}
            <div class="alert alert-success text-center mb-3">
                {{message}}
            </div>
            {%endfor%}
        {%endif%}
   
        <div class="d-flex justify-content-between align-items-center">
            <!-- Left-aligned button -->
            <a href="#" class="btn btn-primary px-5 btn-sm" data-bs-toggle="modal" data-bs-target="#addModal">Add New Division</a>
            
            <!-- Right-aligned search form -->
            <div class="d-flex ms-auto">
                <form action="" method="post" class="d-flex">
                    {% csrf_token %}
                    <input type="text" value = "{{query}}"class="form-control me-2" placeholder="Search Here" name="searchquery" id="search">
                    <button class="btn btn-success" name="div_search">Search</button>
                </form>
            </div>
        </div>
    
        <table class="table table-sm mt-5">
        <colgroup>
            <col width="10%">
            <col width="80%">
            <col width="10%">
        </colgroup>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Division Name</th>
            <th scope="col">Actions</th>
           </tr>
        </thead>
        <tbody class="table-group-divider">
          {%for div in page%}
          <tr>
            <td>{{ forloop.counter|add:page.start_index|add:-1  }}</td>
            <td>{{div.division_name}}</td>
            <td>
                <a href="" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#updateModal_{{div.id}}">Edit</a>
                <a href="" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal_{{div.id}}">Delete</a>
            </td>
          </tr>
          <!--Update Modal -->
            <div class="modal fade" id="updateModal_{{div.id}}" tabindex="-1" aria-labelledby="updateModalLabel_{{div.id}}" aria-hidden="true">
                <div class="modal-dialog">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="updateModalLabel_{{div.id}}">Update Division Name</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="id" value="{{div.id}}" class="">
                            <div class="">
                                <label for="division_name">Division Name</label>
                            </div>
                            <div class="">
                                <input type="text" value="{{div.division_name}}" class="form-control" name="division_name" id="division_name">
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="div_update">Update Division</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>

            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal_{{div.id}}" tabindex="-1" aria-labelledby="deleteModalLabel_{{div.id}}" aria-hidden="true">
                <div class="modal-dialog">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{div.id}}" class="">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel_{{div.id}}">Delete Division Name</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure? you want to delete</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" name="div_delete">Delete Division</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
          {%endfor%}
        </tbody>
        <tfoot class="table-group-divider">
            <tr>
                <td colspan="6" class="text-end">
                    {% if query %}
                        Showing results: {{ filtered_count }}
                    {% else %}
                        Total Divisions: {{ total_count }}
                    {% endif %}
                </td>
            </tr>
        </tfoot>
        
      </table>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item">
            {% if page.has_previous %}
            <a class="page-link" href="?page={{ page.previous_page_number }}&searchquery={{ query }}">Previous</a>
            {%endif%}
          </li>
          {% for num_page in page.paginator.page_range%}
          {% if page.number == num_page%}
          <li class="page-item">
            <a class="page-link" href="?page={{ num_page }}&searchquery={{ query }}">{{ num_page }}</a>
        </li>
          {%endif%}
          {%endfor%}
          <li class="page-item">
            {%if page.has_next%}
            <a class="page-link" href="?page={{ page.next_page_number }}&searchquery={{ query }}">Next</a>
            {%endif%}
          </li>
        </ul>
      </nav>
  
</div>


<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
     <form action="" method="post">
        {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addModalLabel">Add Division Name</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="">
                    <label for="division_name">Division Name</label>
                </div>
                <div class="">
                    <input type="text" class="form-control" name="division_name" id="division_name">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" name="div_add">Add Division</button>
            </div>
          </div>
     </form>
    </div>
  </div>
{% endblock content %}

